<h1 class="gun"> Customer Database</h1>
<div class="container mt-5">
  <div class="card">
    <div class="card-header">
      Customer
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-header">
              Create
            </div>
            <div class="card-body">
              <form [formGroup] = "Customerformgroup" (ngSubmit) = "Onsubmit()">
                <div class="row">
                  <div class="col-sm-12 mb-2">
                    <label>
                      Name :
                    </label>
                    <input placeholder="Ex : John" formControlName="name" type="text" class="form-control" />

                  </div>
                  <br>
                  <br>
                  <br>
                  <div class="col-sm-12 mb-2">
                    <label>
                      MobileNo :
                    </label>
                    <input placeholder="Ex : 123456890" formControlName="mobileNo" type="text" class="form-control" />

                  </div>
                  <br>
                  <br>
                  <br>
                  <div class="col-sm-12 mb-2">
                    <label>
                      EmailID :
                    </label>
                    <input placeholder="Ex : john@gmail.com"formControlName="emailID" type="text" class="form-control" />

                  </div>
                  <br>
                  <br>
                  <br>
                  <div class="col-sm-12 mb-3">
                    <button class="btn btn-primary" type="Submit">
                      Create
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div *ngIf ="Customerary.length==0" class ="alert alert-info"> Create Customers to add to database</div>
          <table class="table" *ngIf = "Customerary.length>0">
            <thead>
              <tr>
                <td>
                  Name :
                </td>
                <td>
                  Mobile Number :
                </td>
                <td>
                  Email ID :
                </td>
                <td>
                  Actions
                </td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cus of Customerary">
                <td>
                  {{cus.name}}
                </td>
                <td>
                  {{cus.mobileNo}}
                </td>
                <td>
                  {{cus.emailID}}
                </td>
                <td>
                  <button (click)="Fillform(cus)" class="btn btn-link">Edit</button>
                  &nbsp;
                  <button (click)="DeleteCus(cus.id)"class="btn btn-link">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>